input {
  file {
    path => "/var/log/syslog"
    start_position => "beginning"
    sincedb_path => "/dev/null"  
  }
}

filter {
}

output {
  elasticsearch {
    hosts => ["https://localhost:9200"]
    user => "elastic"
    password => "o5zpe4vZSc7y0n=RAt_Z"
    ssl_certificate_verification => false
    index => "system-logs"
  }
}
